.App {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

.Container {
  padding: 50px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  color: #9e9999;

border-style: solid;

  border-width: 2px;
}

.Title{
  align-self: center;
  /*font-size: 60px;*/

  text-align: center;
  color: #b3b3b3;
  /*color: #ee30ff;*/
}

.TimeData {
  padding: 10px;
  margin: 10px;
  font-size: 60px;
  align-items: center;
  text-align: center;
  color: #000000;
  /*color: #ee30ff;*/
}

.Button {
  padding: 3px;
  margin-top: 5px ;
  color: #9e9999;
  background-color: white;
  border-style: dotted;
  border-radius: 20px;
  alignment: center;
  width: 100%;
  text-align: center;


}
